body {
    background-color:#efefff;
    margin: 20px;
}

h1 {
    font-size: xxx-large;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: #00008B;
    font-weight: bolder;
    /* padding-bottom: 5px; */
    padding-top: 20px;
}

h2 {
    font-size: 25px;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-weight: bold;
    color:#0000B9;
    padding-top: 35px;
    padding-bottom: 5px;
    text-transform: uppercase;
}

h3 {
    font-size: large;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-weight: bold;
    color:#0000E7;
    padding-top: 10px;
}

p, span{
    text-align: center;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 5px;
}

p.double {border-style: solid;
}

img {
    border: solid 10px #4444FF;
    padding: 10px;
    margin: auto;
    border-radius: 30px;
    align-items: center;
    display: grid;
    animation-name: border_animation;
    animation-duration: 3s;
    
}

li {
    display: block;
    margin-left: auto;
    text-align: center;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

span {
    display: grid;
}

nav{
    background-color: whitesmoke;
    border: solid black;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

nav a {
    background-color: whitesmoke;
}

a{
    /* border: solid, 5pt, black; */
    text-decoration: underline;
    color: blue;
}

.thumbnail{
    border: 2px solid #4444FF;
    padding: 2px;
    display: grid;
    border-radius: 25px;
    margin: auto;
    width: 75%;
    height: 75%;
}

.skip a{
    position: absolute;
    top: -40px;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.skip a:focus{
    position: absolute;
    top: 20px;
  }

 *:focus{
    border: solid 2px black;
  }

  a:hover{
    font-weight: bolder;
    font-size: larger;
  }

 .current{
    font-weight: bolder;
    font-size:larger;
  }

/* .container{
    display: grid;
    grid-template-columns: 1fr;
} */

/* #honeyrock{
    display: grid;
    grid-column:1 / span 1;
}

#honeysleep{
    display: grid;
    grid-column: 2 / span 1;
} */

.contrec{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* div {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
  } */

@keyframes border_animation {
    from {border-color: #4444FF;}
    to {border-color: #FFFF33;}
  }
  

@media screen and (prefers-reduced-motion: reduce){
    .gif{
      display: none;
    }

    .static{
      display: block;
    }

    img{
        animation:none;
    }


}